---
// src/pages/contact.astro
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Kontakta oss | Bosson.io">
	<h1>Kontakta oss</h1>
	<p>
        Ni når oss via e-post.
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu tellus et elit fringilla ornare id non quam. In ullamcorper interdum lectus sit amet tempus. Fusce mollis quam et faucibus mattis. Nullam augue lacus, dapibus convallis semper quis, blandit vitae sapien. Phasellus eget vehicula est. Ut iaculis mollis auctor. Fusce ut rhoncus metus, quis feugiat urna. Vestibulum fermentum malesuada porta. Nunc sollicitudin diam ac dolor commodo maximus a sit amet dui. Nam suscipit lobortis pretium.
    </p>
    <div style="margin-left: 2.5em;">
        <p>
            <ul>
                <li>
                    Daniel Bosson - <a href="mailto:daniel@bosson.io">daniel@bosson.io</a>
                </li>
                <li>
                    Peter Bosson - <a href="mailto:peter@bosson.io">peter@bosson.io</a>
                </li>
            </ul>
        </p>
    </div>
</BaseLayout>