---
// src/pages/contact.astro
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="bosson.io">
    <h1>Kontakta oss</h1>
    <p style="margin-bottom: 1.5em;">Ni når oss via e-post.</p>
    <div class="email-list-wrapper">
        <h3 class="email-name">Daniel</h3>
        <ul class="email-list">
            <li>
                <a href="mailto:daniel@bosson.io">daniel@bosson.io</a>
            </li>
        </ul>
    </div>
    <div class="email-list-wrapper">
        <h3 class="email-name">Peter</h3>
        <ul class="email-list">
            <li>
                <a href="mailto:peter@bosson.io">peter@bosson.io</a>
            </li>
            <li>
                <a href="mailto:peter@bosson.io">peter@bosson.email</a>
            </li>
        </ul>
    </div>
</BaseLayout>
