---
// src/pages/contact.astro
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Bosson.io">
    <h1>Kontakta oss</h1>
    <p>
        Ni når oss via e-post.
    <div style="margin-left: 0em;">
        <ul class="email-list" style="list-style-type: none; padding: 0;">
            <li style="font-size: 1em; margin-bottom: 0.5em;">
                <a href="mailto:daniel@bosson.io">daniel@bosson.io</a>
            </li>
            <li style="font-size: 1em; margin-bottom: 0.5em;">
                <a href="mailto:peter@bosson.io">peter@bosson.io</a>
            </li>
        </ul>
    </div>
</BaseLayout>
