---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About Us | Bosson.io">
	<h1>Hej från Bosson.io</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu tellus et elit fringilla ornare id non quam. In ullamcorper interdum lectus sit amet tempus. Fusce mollis quam et faucibus mattis.
	</p>
    <p>
        Känn dig som hemma!
    </p>
</BaseLayout>