---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="bosson.io">
	<h1>Hej!</h1>
	<p>
		Välkommen till <span style="font-family: 'Sarala', sans-serif; font-weight: bold;">bosson.io</span>
	</p>
</BaseLayout>